@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Alkatra", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(47, 71, 94), rgb(20 15 35));
}